// @import './elements/360/about.scss' ;
// @import './elements/375/about.scss' ;

body{
	margin: 0;
	padding: 0;
	background: #f0f;
	overflow-x: hidden;
	-webkit-text-size-adjust: 100%;
}

@media (min-width: 0) {	
    @import 'elements/360/about.scss';
}

@media (min-width: 375px) {
    @import 'elements/375/about.scss';
}